<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/players">Players</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/players/random">Random Player</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/mascots">Mascots</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/mascots/random">Random Mascots</a>
  </li>
</ul>